form div {
  margin: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}

form label {
  text-align: right;
  width: 40%;
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 80px;
  text-align: center;
}

button {
  margin: 20px;
  max-width: 200px;
  min-height: 30px;
}
span {
  margin: 10px;
}

.installment {
  display: flex;
}

input[type="number"] {
  height: 30px;
}
