form, .calc-table {
  display: flex;
  flex-direction: column;

  label {
    text-align: center;
    width: 40%;
    margin: .25rem;
  }

  div {
    margin: .25rem;
    display: flex;
    align-items: center;
  }

  & > div:not(:last-child) {
    border-bottom: 1px solid rgba(0.1, 0.1, 0.1, 10%);
  }
}

input {
  width: 80px;
  text-align: center;
}

button {
  margin: 20px;
  max-width: 200px;
  min-height: 30px;
}

span {
  margin: 10px;
}

.installment {
  display: flex;
}

input[type="number"] {
  height: 30px;
}

.overpayments-form {
  width: auto;
  margin: auto;
  display: inline-flex;
  flex-direction: row;
  justify-content: left;

  & > div, & > input, & > button {
    margin: 1rem;
  }
}
