span {
  margin: 10px;
}

.installment {
  display: flex;
}

.overpayments-form {
  width: auto;
  margin: auto;
  display: inline-flex;
  flex-direction: row;
  justify-content: left;

  & > div,
  & > input,
  & > button {
    margin: 1rem;
  }
}

.badge-primary {
  background-color: #62ab37;
  color: white;
  border-radius: 0.25rem;
  margin: 1rem auto;
  width: fit-content;
  text-align: center;
}

li {
  list-style-type: none;
  padding: 0.25rem;
  flex-wrap: wrap;
  margin: 0.25rem;
}
