@import "../../Utils/variables";

span {
  margin: 10px;
}

.installment {
  display: flex;
}

.overpayments-form {
  width: auto;
  margin: auto;
  display: inline-flex;
  flex-direction: row;
  justify-content: left;

  & > div,
  & > input,
  & > button {
    margin: 1rem;
  }
}

.badge-primary {
  background-color: @secondary-color;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  margin: 0.25rem;
  position: relative;
  transition: width .1s;

  &:hover::before {
    content: "\2212";
    color: red;
    background: white;
    border-radius: 50%;
    font-weight: 600;
    position: relative;
    padding: 0 5px;
  }
}

li {
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0.25rem;
  padding: 0.25rem;
}


.clickable-sign {
  cursor: pointer;
  padding: 0.5rem;

  &:hover {
    background: white;
  }
}
