@primary-color: #a6ebc9ff;
@secondary-color: #62ab37;

main {
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 1rem 2rem;
  max-width: 90vw;
  text-align: center;

  h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }
}

.hidden {
  display: none;
}

h2 {
  cursor: default;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.card-sm {
  box-shadow: 0 0 10px #dddddd;
  background-color: @primary-color;
  border-radius: 0.25rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.flex-container {
  display: flex;
}

.h-fit {
  height: fit-content;
}

.clickable {
  cursor: pointer;
}

form {
  .form-section {
    align-items: center;
    display: flex;
    margin: 1em;
    position: relative;

    @labelWidth: 100px;
    @checkboxWidth: 20px;

    label {
      width: @labelWidth;
      margin-right: @checkboxWidth;
    }

    input {
      width: 70px;
      text-align: center;
    }

    input[type='date'] {
      min-width: 120px;
    }

    input[type='checkbox'] {
      position: absolute;
      left: @labelWidth - 5px;
      width: @checkboxWidth;
      -webkit-appearance: none;
      appearance: none;
      height: @checkboxWidth;
      border-radius: 0.1em;
      border: 0.05em solid grey;
      outline: none;
      cursor: pointer;

      background-color: white;

      &:focus {
        box-shadow: 0 0 20px #007a7e;
      }

      &:checked::before {
        content: "\2714";
        font-size: 1.25em;
        color: @secondary-color;
        position: absolute;
        right: 1px;
        top: -6px;
      }
    }
  }
}

button {
  background-color: white;
  color: @secondary-color;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 10px;
  padding: 0.25rem 0.5rem;
  max-width: 200px;
  min-height: 30px;
}

.card-sm ul {
  margin: 0;
  padding: 0;
}
