@import "./Utils/variables";

main {
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 1rem 2rem;
  max-width: 90vw;

  h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }

  h2 {
    font-size: 1.4rem;
    margin: 0.5rem auto;
    text-align: center;
  }

  h3 {
    font-size: 1rem;
  }
}

.hidden {
  display: none;
}

h2 {
  cursor: default;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.card-sm {
  box-shadow: 0 0 10px #dddddd;
  background-color: @primary-color;
  border-radius: @border-radius;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: left;
}

.flex-container {
  display: flex;
}

.h-fit {
  height: fit-content;
}

form {
  .form-section {
    align-items: center;
    display: flex;
    margin: 1em;
    position: relative;

    @labelWidth: 100px;
    @checkboxWidth: 20px;

    label {
      width: @labelWidth;
      margin-right: @checkboxWidth;
    }

    input:focus, select:focus, input:focus-visible, select:focus-visible {
      box-shadow: 0 0 20px #007a7e;
    }

    input {
      text-align: center;
      width: 70px;

      &.no-validated {
        border: 2px solid red;
        box-shadow: 0 0 20px red;
      }
    }

    input[type='date'] {
      min-width: 120px;
    }

    select {
      background: white;
      border: 1px solid @grey-color;
      font-size: 0.9rem;
      margin-right: 0.5em;
      padding: 0.25rem;

      option {
        font-size: 0.8em;
        padding: 0.1rem;
      }
    }

    input[type='checkbox'] {
      position: absolute;
      left: @labelWidth - 5px;
      width: @checkboxWidth;
      -webkit-appearance: none;
      appearance: none;
      height: @checkboxWidth;
      border-radius: @border-radius;
      border: 0.05em solid @grey-color;
      outline: none;
      cursor: pointer;
      background-color: white;


      &:checked::before {
        content: "\2714";
        font-size: 1.25em;
        color: @secondary-color;
        position: absolute;
        right: 1px;
        top: -6px;
      }
    }
  }
}

button.primary {
  background-color: white;
  color: @secondary-color;
  border-radius: @border-radius;
  border: 1px solid @primary-color;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 10px;
  padding: 0.25rem 0.5rem;
  max-width: 200px;
  min-height: 30px;

  &.disabled {
    cursor: initial;
    opacity: 50%;
  }
}

.card-sm ul {
  margin: 0;
  padding: 0;
}
