.App {
  text-align: center;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;

  h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;

  }
}

.hidden {
  display: none;
}

h2 {
  cursor: default;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.card-sm {
  box-shadow: 0 0 10px #dddddd;
  border-radius: .25rem;
  margin: 1rem;
  padding: 1rem;
}

.flex-container {
  display: flex;

  &.w-equal-3 > *:first-child {
    width: 25%;
  }

  &.w-equal-3 > *:nth-child(2) {
    flex: 1;
    min-width: 150px;
  }


  &.w-equal-2 > * {
    flex: 1;
    width: 50%;
  }
}

.h-fit {
  height: fit-content;
}

.clickable {
  cursor: pointer;
}
